.studio {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  margin-top: 12vh;
  width: 100%;
}

.studio-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.studio-title {
  font-family: Ela Sans;
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: #666666;
  font-size: 4rem;
  line-height: 120%;
  text-align: left;
}

.studio-desc {
  font-family: Ela Sans;
  line-height: 120%;
  text-align: justify;
  font-size: 1.7rem;
  word-spacing: 0.1rem;
  opacity: 0.65;
  margin: 4vh 0;
  margin-right: 5vw;
}

.studio-image-block {
  position: relative;
  width: 90%;
  height: 40vh;
  overflow: hidden;
  border-radius: 1em;
}

.studio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.8;
}

.arrow.left {
  left: 1rem;
}

.arrow.right {
  right: 1rem;
}

.studio-right {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  padding-top: 5vh;
  border-radius: 1em;
}

.studio-right form {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.studio-right input,
.studio-right textarea {
  padding: 1.2rem;
  font-size: 1rem;
  border: 1px solid #666666a9;
  outline: none;
  resize: none;
  border-radius: 0.5em;
  font-family: sans-serif;
}
.field4{
  height: 20vh;
}
.checkbox-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  font-size: 1.1rem;
}
input[type="checkbox"].circle {
  appearance: none;       
  -webkit-appearance: none;
  -moz-appearance: none;    
  transform: scale(0.6);
  width: 10px;
  height: 10px;
  border: 2px solid #666666a9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"].circle:checked {
  background-color: #666666a9;
  box-shadow: inset 0 0 0 4px #fff;
}

.send-btn {
  padding: 1rem 0;
  min-width: 8vw;
  max-width: 12vw;
  background-color: #BDAB9D;
  border: none;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5em;
  cursor: pointer;
}
