@font-face {
  font-family: Ela Sans;
  src: url(/Ela\ Sans\ Regular.ttf);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.home-logo {
  background: url('/home-logo.png') no-repeat center;
  background-size: contain;
  margin-top: 10vh;
  width: 100%;
  height: 20vh;
  z-index: 1;
}

.home-image {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.about-us {
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 2%;
}

.title {
  font-family: Ela Sans;
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: #666666;
  font-size: 4rem;
  line-height: 120%;
  text-align: left;
}

.link {
  display: flex;
}

.link p {
  font-size: 2rem;
  font-family: Ela Sans;
  font-weight: 100;
  letter-spacing: 0.2rem;
}
.link img {
  object-fit: contain;
}
.middle {
  display: flex;
  justify-content: space-between;
  padding: 0 2%;
  margin-top: 5vh;
  align-items: baseline;
}

.middle h3 {
  flex: 1;
  font-family: Ela Sans;
  line-height: 120%;
  font-size: 2.3rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-top: auto;
  text-align: left;
}

.middle p {
  flex: 1;
  font-family: Ela Sans;
  line-height: 120%;
  text-align: justify;
  font-size: 1.7rem;
  word-spacing: 0.1rem;
  opacity: 0.65;
}

.bottom {
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  height: 58vh;
  justify-content: space-between;
}

.info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 1fr);
}

.owner {
  grid-row: 1 / 4;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1%;
}

.info p {
  margin-left: 10%;
  font-size: 1.5rem;
  font-family: Ela Sans;
  line-height: 120%;
  text-align: justify;
  word-spacing: 0.1rem;
  opacity: 0.65;
}
.our-works{
  margin-top: 10vh;
  width: 90%;
  margin: 12vh auto auto auto;
}
.cards{
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
  margin-top: 12vh;
}
.publications{
  margin-top: 12vh;
  width: 90%;
  margin: 12vh auto auto auto;
}
.our-studio{
  width: 90%;
  margin-top: 12vh;
  margin: 12vh auto auto auto;
}