@font-face {
    font-family: Galciel;
    src: url(fonts/GlacialIndifference-Regular.otf);
}
@font-face {
    font-family: Galciel_bold;
    src: url(fonts/GlacialIndifference-Bold.otf);
}
@font-face {
    font-family: tanpearl;
    src: url(fonts/TAN-PEARL.otf);
}
.wrapper_mobile{
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.wrapper_mobile h1{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 6.63%, rgba(255, 255, 255, 0) 155.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 120%;
    letter-spacing: 0.2rem;
    font-family:"tanpearl";
}
.wrapper_mobile h3{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 6.63%, rgba(255, 255, 255, 0) 155.02%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50%;
    letter-spacing: 0.5vw;
    margin-left: auto;
    font-family: "Galciel";
}
.card_mobile{
    height: 35vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1b1b1b;
    border-radius: 5%;
    align-items: center;
    margin: 3vh auto;
}
.card_mobile div{
    background-position: center;
    background-size: cover;
    height: 55%;
    width: 100%;
    border-radius: 5%;
    margin-bottom: 7%;
}
.card_mobile h2{
    font-family: Galciel;
    color: #FFFFFF;
    letter-spacing: 0.4rem;
    margin-bottom: 7%;
}
.card_mobile p{
    font-family: Galciel;
    text-align: center;
    color: #FFFFFF;
    margin: 0 5% 4% 5%;
    font-size: 50%;
    letter-spacing: 0.2rem;
    line-height: 150%;
}