.scoll-indicator-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 245vh;
    /* outline: 1px solid red; */
    position: absolute;
    right: 0;
    top: 0;
}

.scroll-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    right: 2vw;
    top: 50%;
    transform: translateY(-50%);
    gap: 10vh;
    /* outline: 1px solid red; */
}

.scroll-bar-wrapper {
    --height: 0%;
    height: 25vh;
    /* border: 1px solid white; */
    width: 3px;
    border-radius: 10px;
    background: linear-gradient(to bottom, white var(--height), black 1%);
    position: relative;
}

.scroll-bar-wrapper::after {
    content: '';
    position: absolute;
    background-color: rgb(208, 208, 208);
    height: 25vh;
    width: 1px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.scroll-indicator h4 {
    color: white;
    transform: rotate(-90deg);
    cursor: pointer;
    font-size: 0.75vw;
    letter-spacing: 0.2vh;
}