.project-choice {
    display: flex;
    width: 88%;
    flex-direction: column;
    background-color: black;
    margin-top: 30vh;
}

.fw-card {
    position: relative;
    height: 60vh;
    width: 90%;
    /* outline: 1px solid red; */
    overflow: hidden;
    cursor: pointer;
}

.from-right[data-blobity-tooltip] {
    content: 'x'
}

.fw-card img {
    width: 100%;
    /* height: 70vh; */
    filter: grayscale(1);
    transform: scale(1.3);
    transition: filter 0.4s ease;
}

.fw-card-title {
    font-size: 8vw;
    position: absolute;
    color: white;
    top: 0;
    left: 3vw;
    -webkit-text-stroke: 2px;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    /* mix-blend-mode: color; */
    /* outline: 1px solid red; */
}

.fw-card img:hover {
    filter: grayscale(0);
}

/* .fw-card img:hover ~ .fw-card-title {
    -webkit-text-fill-color: white;
} */

.right-align {
    left: unset;
    top: unset;
    right: 2vw;
    bottom: 1vh;
}

@media screen and (max-width: 768px) {
    .project-choice {
        width: 100%;
    }
    .fw-card {
        height: auto;
        width: 100%;
    }
    .fw-card-title {
        font-size: 12vw;
    }
    .fw-card img {
        filter: grayscale(0.5)
    }
}