.project-choice {
    display: flex;
    width: 88%;
    flex-direction: column;
    background-color: black;
    /* outline: 1px solid red; */
}

.fw-card {
    position: relative;
    height: 60vh;
    width: 90%;
    overflow: hidden;
}

.fw-card img {
    width: 100%;
    filter: grayscale(1);
    transition: filter 0.4s ease, transform 0.4s ease;
}

.fw-card-title {
    font-size: 8vw;
    position: absolute;
    color: white;
    top: 0;
    left: 3vw;
    -webkit-text-stroke: 1px;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    /* outline: 1px solid red; */
}

.fw-card img:hover {
    filter: grayscale(0);
    transform: scale(1.3);
}

.right-align {
    left: unset;
    right: 3vw
}

@media screen and (max-width: 768px) {
    .project-choice {
        width: 100%;
    }
    .fw-card {
        height: auto;
        width: 100%;
    }
    .fw-card-title {
        font-size: 12vw;
    }
    .fw-card img {
        filter: grayscale(0.5)
    }
}