.project-choice {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
}

.fw-card {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.fw-card img {
    width: 100%;
}