.top-right-mob{
  font-family: Ela Sans;
  font-size: 3rem;
  color: #666;
  text-align: right;
  line-height: 100%;
  margin-right: 2rem;
}
.bottom-left-mob{
  font-family: Ela Sans;
  font-size: 1.7rem;
  color: #555;
  text-align: justify;
  line-height: 120%;
  padding: 2rem;
  margin-top: 3vh;
}
.about-link-mob {
  display: flex;
  margin-top: 5vh;
  margin-left: 2rem;
}

.about-link-mob p {
  font-size: 2rem;
  font-family: Ela Sans;
  font-weight: 100;
  letter-spacing: 0.2rem;
}
.about-link-mob img {
  object-fit: contain;
}
.about-mob-title{
  font-family: Ela Sans;
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-top: 2vh;
  text-align: left;
  color: #666;
}
.about-mid-mob{
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 2rem;
  
}
.about-mid-vector-mob{
  margin: 0 2rem;
}
.about-mid-left-mob{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.about-mid-left-mob p{
  font-family: "Be Vietnam Thin";
  font-size: 1.8rem;
  text-align: left;
}
.about-mid-left-mob span{
  font-family: Be Vietnam Light;
}

