.about-head{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 2%;
  margin-top: 10vh;
}
.about-top{
  margin-bottom: 12vh;
}
.about-top, .about-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left{
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.top-left h1{
  font-family: Ela Sans;
  font-size: 4rem;
  color: #666;
}
.top-left img{
  height: 100%;
}
.top-right{
  font-family: Ela Sans;
  font-size: 3.5rem;
  color: #666;
  text-align: left;
  line-height: 100%;
}
.bottom-left{
  font-family: Ela Sans;
  font-size: 1.7rem;
  color: #555;
  width: 35%;
  text-align: justify;
  line-height: 120%;
}
.about-bottom h3 {
  font-family: Ela Sans;
  line-height: 120%;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-top: auto;
  text-align: left;
}
.about-mid{
  margin-top: 12vh;
}
.mid-content1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}
.mid-content2{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
}
.mid-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  align-items: start;
}
.mid-items p{
  font-family: "Be Vietnam Thin";
  font-size: 1.8rem;
  text-align: left;
}
.mid-items span{
  font-family: Be Vietnam Light;
}
.mid-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}
.mid-head h1{
  font-family: Ela Sans;
  font-size: 3rem;
  color: #666;
}
.about-nav-right {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  font-family: Ela Sans;
  font-size: 1.8rem;
  letter-spacing: 0.12rem;
  color: #555;
}

.about-underline {
  grid-column: 1 / span 2;
  height: 1px;
  background-color: #555;
  width: 100%;
}