.footer {
  width: 100%;
  background-color: #ffffff;
  padding: 80px;
  box-sizing: border-box;
  margin-top: 10vh;
}

.footer-container {
  margin: 0 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;
}

.footer-logo {
  width: 300px;
  object-fit: contain;
}

.footer-address {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #555;
  text-align: left;
}

.footer-contact {
  display: flex;
  gap: 40px;
  font-size: 1.3rem;
  color: #000;
}

.footer-phone,
.footer-email {
  text-decoration: underline;
  cursor: pointer;
}

.footer-right {
  display: flex;
}

.footer-map {
  object-fit: cover;
  border-radius: 4px;
}
