.socials-bar {
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 1000;
}

.socials-icons {
    display: flex;
    gap: 1vw;
}

.icon {
    --icon-size: 2.2vw;
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    /* outline: 2px solid white; */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .icon {
        --icon-size: 7vw
    }
}