.socials-bar {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    height: 80vh;
    place-items: center;
    justify-content: space-between;
    position: absolute;
    top: 43%;
    left: 1%;
    transform: translateY(-40%);
    /* transform-origin: top left 0; */
}

.socials-icons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.socials-title {
    font-size: 3rem;
    transform: rotate(-90deg);
    background: #141413;
    background: linear-gradient(to right, rgb(123, 123, 123) 8%, #FFFFFF 56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-hr {
    border: none;
    height: 60vh;
    margin-top: 50%;
    margin-bottom: 10%;
    width: 1px;
    background-color: white;
}