.studio-mob {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  width: 100%;
}

.studio-left-mob {
  display: flex;
  flex-direction: column;
}

.studio-title-mob {
  font-family: Ela Sans;
  font-weight: 100;
  letter-spacing: 0.2rem;
  color: #666666;
  font-size: 2.5rem;
  text-align: left;
}

.studio-desc-mob {
  font-family: Ela Sans;
  font-size: 1.7rem;
  line-height: 110%;
  opacity: 0.65;
  margin: 3vh 0;
  text-align: justify;
}

.studio-image-block-mob {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  border-radius: 1em;
  margin-top: 5vh;
}

.studio-image-mob {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-mob {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

.left-mob { left: 1rem; }
.right-mob { right: 1rem; }

.studio-right-mob {
  margin-top: 5vh;
}

.studio-form-mob {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: white;
  padding: 4%;
  border-radius: 1rem;
}

.studio-form-mob input,
.studio-form-mob textarea {
  padding: 1rem;
  border-radius: 0.5em;
  border: 1px solid #666666a9;
  font-family: sans-serif;
}

.field4-mob {
  height: 18vh;
}

.checkbox-row-mob {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle-mob {
  appearance: none;
  width: 5px;
  height: 5px;
  border: 2px solid #666;
  border-radius: 50%;
}

.circle-mob:checked {
  background: #666;
}

.send-btn-mob {
  padding: 1rem;
  background-color: #BDAB9D;
  border: none;
  color: white;
  border-radius: 0.5em;
  width: 40%;
}
