.footer-mob {
  width: 100%;
  background-color: #ffffff;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-top: 6vh;
}

.footer-container-mob {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.footer-left-mob {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  margin-top: 5vh;
}

.footer-logo-mob {
  width: 300px;
  object-fit: contain;
}

.footer-address-mob {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  margin-top: 2vh;
}

.footer-contact-mob {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.1rem;
  margin-top: 2vh;
}

.footer-phone-mob,
.footer-email-mob {
  text-decoration: underline;
  cursor: pointer;
}

.footer-right-mob {
  width: 100%;
}

.footer-map-mob {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
