.menu-nav {
    display: flex;
    padding: 0.8rem 0.6rem;
    align-items: center;
    background-color: #f7f7f7;
    backdrop-filter: blur(12px) saturate(200%);
    -webkit-backdrop-filter: blur(12px) saturate(200%);
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 6px;
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

.menu-icon {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.menu-line {
    width: 2px;
    height: 2rem;
    background: black;
}

.menu-line.short  {
    height: 1.6rem !important;
}