.menu-nav {
    display: flex;
    padding: 0.8rem 0.6rem;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 6px;
    width: 90%;
    transform: translateY(30%);
}

.menu-icon {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.menu-line {
    width: 2px;
    height: 2rem;
    background: black;
}

.menu-line.short  {
    height: 1.6rem !important;
}