.hero-title-container {
    position: relative;
    display: flex;
    width: 100%;
    /* justify-content: flex-start; */
    /* height: 10vh; */
    overflow: hidden;
}

.company-name {
    font-size: 14rem;
    /* line-height: 18rem; */
    width: fit-content;
    padding-left: 10%;
    letter-spacing: 0.9rem;
    line-height: normal;
    /* line-height: 80%; */
    /* position: absolute; */
    /* top: 80%; */
    /* height: 15vh; */
    /* outline: 1px solid red; */
}

.company-subname {
    font-size: 7rem;
    background: transparent !important;
    color: black !important;
    -webkit-text-stroke-color: aliceblue;
    -webkit-text-stroke-width: 1px;
    width: fit-content;
    text-align: left;
    /* line-height: 80%; */
    /* position: absolute; */
    /* top: 160%; */
    /* height: 15vh; */
    /* left: 55% */
    /* outline: 1px solid red; */
}