.company-name {
    font-size: 11rem;
    /* line-height: 18rem; */
    width: 100%;
    padding-left: 8rem;
    letter-spacing: 0.9rem;
    /* text-align: left; */
}

.company-subname {
    font-size: 7rem;
    background: transparent !important;
    color: black !important;
    -webkit-text-stroke-color: aliceblue;
    -webkit-text-stroke-width: 1px;
    width: 100%;
    text-align: center;
    padding-right: 10rem;
}