* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Pearl;
  src: url('./assets/fonts/TAN-PEARL.otf');
}

@font-face {
  font-family: Glacial-Regular;
  src: url('./assets/fonts/GlacialIndifference-Regular.otf');
}

@font-face {
  font-family: Glacial-Bold;
  src: url('./assets/fonts/GlacialIndifference-Bold.otf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --cursor-size: 8px;
  --cursor-bg: rgba(0, 0, 0, 0.4);
  --cursor-outline-size: 30px;
  --cursor-outline-bg: rgba(0, 0, 0, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #5D5D5D #C7D0D2;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

*::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #C7D0D2;
}

*::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #5D5D5D;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6E6E6E;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #6E6E6E;
}


body {
  min-width: 320px;
  min-height: 100vh;
  background: url('/bg.jpg');
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.font-pearl {
  font-family: Pearl, serif;
}

.font-glacial-r {
  font-family: Glacial-Regular, sans-serif;
}

.font-glacial-b {
  font-family: Glacial-Bold, sans-serif;
}

.color-primary {
  color: white;
}

.color-bw-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);
}

.color-bw-gradient-title {
  background: #FFFFFF;
  background: linear-gradient(to bottom, #FFFFFF 61%, #141413 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}