:root {
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  --cursor-size: 8px;
  --cursor-bg: rgba(0, 0, 0, 0.4);
  --cursor-outline-size: 30px;
  --cursor-outline-bg: rgba(0, 0, 0, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a,a:visited .link p {
  color: #000000;
}
@font-face {
  font-family: "Be Vietnam Light";
  src: url(/BeVietnamPro-Light.ttf);
}
@font-face {
  font-family: "Be Vietnam Thin";
  src: url(/BeVietnamPro-Thin.ttf);
}
@font-face {
  font-family: "Ela Sans";
  src: url(/Ela\ Sans\ Regular.ttf);
}
@font-face{
  font-family: "Source Serif";
  src: url(/source\ serif\ 4.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F7F5EE;
}