.work-top-left-mob{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
  margin-top: 6vh;
  margin-bottom: 7vh;
}
.work-top-left-mob h1{
  font-family: Ela Sans;
  font-size: 2.5rem;
  color: #666;
}
.work-top-left-mob img{
  height: 2.5rem;
}
.our-works-cards-mobile{
  display: flex;
  flex-direction: column;
  gap: 7rem;
  align-items: center;
  margin-bottom: 15vh;
}